
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	background-color: grey;
}
.content-container{
	width: 80%;
	margin: 100px auto;
	clear: both;
	display: table;
}
.content-product{
	width: 25%;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}
 .product-gadget{
	background-color: black;
	border: 7px solid black;
	border-radius: 10px;
	position: relative;
}
.content-product img{
	width: 100%;
}
.image{
	border-bottom: 1px solid burlywood;
}
.inform{
	width: 75%;
	margin: auto;
}
.description h4{
	color: blanchedalmond;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	padding: 30px;
}
.coast{
	width: 100%;
	clear: both;
	display: table;
}
.usd{
	color: cyan;
	float: left;
}
.uah{
	color: red;
	float: right;
}
button{
	border-radius: 5px;
	background-color: chocolate;
	display: block;
	margin: 30px auto;
	padding: 10px;
	}
.sale{
	background-color: brown;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px;
	border-radius: 0px 5px 5px 5px;
}
@media(max-width: 425px){
.content-product{
	float: none;
	width: 100%;
}
}
@media(max-width: 768px){
.description h4{
	padding: 0;
}
.usd{
	padding: 10px;
	margin-left: 25px;
}
.uah{
	padding: 10px;
	margin-right: 10px;
}
.sale{
	padding: 2px;
}
}
@media(max-width:1024px){
.sale{
	padding: 0;
}
}